* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
  }
  .footer {
    height: 70px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  .footer1, .footer2 {
    border-right: 2px solid #121212;
  }
  h1{
    font-size: 110px; font-weight:bold;
  }
  h3{
    font-size: 50px;
    font-weight: bold;
  }
  h6{
    font-size: 30px;
  }